<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
		<add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python36\python.exe|C:\Python36\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script"/>
		<!-- Django apps only -->
		<add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()"/>
		<add key="DJANGO_SETTINGS_MODULE" value="ocems.settings" />
	</handlers>
    <httpPlatform processPath="C:\Python36\python.exe"
                  arguments="C:\inetpub\wwwroot\ocems\manage.py --port %HTTP_PLATFORM_PORT%"
                  stdoutLogEnabled="true"
                  stdoutLogFile="C:\Users\DELL\ocems.log"
                  startupTimeLimit="60"
                  processesPerApplication="16">
      <environmentVariables>
        <environmentVariable name="SERVER_PORT" value="%HTTP_PLATFORM_PORT%" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>