<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
	  <handlers>
		<add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule"
			scriptProcessor="C:\Python36\python.exe|C:\Python36\Lib\site-packages\wfastcgi.py"
			resourceType="Unspecified" requireAccess="Script"/>
		<!-- Django apps only -->
	  </handlers>
	</system.webServer>
	<appSettings>
	  <add key="PYTHONPATH" value="C:\inetpub\wwwroot\ocems"/>
	  <!-- The handler here is specific to Bottle; see the next section. -->
	  <add key="WSGI_HANDLER" value="ocems.wsgi.application"/>
	  <add key="WSGI_LOG" value="C:\inetpub\wwwroot\wfastcgi.log"/>
	  <add key="DJANGO_SETTINGS_MODULE" value="ocems.settings" />
	</appSettings>
</configuration>