<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'users:homepage' %}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    {% if request.user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Recharge
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'users:recharge' %}">Recharge</a>
          <a class="dropdown-item" href="{% url 'users:recharge_receipt' %}">Recharge Receipt</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reports
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'users:daily_recharge_report' %}">Daily Recharge Report</a>
          <a class="dropdown-item" href="{% url 'users:monthly_recharge_report' %}">Monthly Recharge Report</a>
          <a class="dropdown-item" href="{% url 'users:sms_report' %}">SMS Report</a>
          <a class="dropdown-item" href="{% url 'users:flat_power_cut' %}">Power Cut Report</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Flats
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'users:flat_recharge_report' %}">Flat Recharge Report</a>
          <a class="dropdown-item" href="{% url 'users:flat_hourly_report' %}">Flat Hourly Report</a>
          <a class="dropdown-item" href="{% url 'users:flat_maintance_report' %}">Flat Maintance Report</a>
          <a class="dropdown-item" href="{% url 'users:flat_sms_report' %}">Flat SMS Report</a>
          <a class="dropdown-item" href="{% url 'users:flat_bill' %}">Flat Bill</a>
          <a class="dropdown-item" href="{% url 'users:send_sms' %}">Send SMS</a>
          <a class="dropdown-item" href="{% url 'users:negative_balance_flats' %}">Flat Balance Report</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Flats Login
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'users:create_login' %}">Create Flat Login</a>
          <a class="dropdown-item" href="{% url 'users:update_login' %}">Update Flat Login</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Notices
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'users:create_notice' %}">Create Notice</a>
          <a class="dropdown-item" href="{% url 'users:active_notice' %}">Active Notice List <span class="badge badge-info">{{ notices_count }}</span></a>
          <a class="dropdown-item" href="{% url 'users:notice_list' %}">Notice List</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Complaints
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'users:new_complaints' 1 %}">New Complaints <span class="badge badge-danger">{{ new_comp|length }}</a>
          <a class="dropdown-item" href="{% url 'users:new_complaints' 2 %}">In Progress <span class="badge badge-info">{{ in_comp|length }}</span></a>
        </div>
      </li>
      {% if request.user.is_superuser %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admin Action
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'users:debit' %}">Debit</a>
            <a class="dropdown-item" href="{% url 'users:tower_list' %}">Tower List</a>
            <a class="dropdown-item" href="{% url 'users:meter_change' %}">Meter Change</a>
            <a class="dropdown-item" href="{% url 'users:bill_adjustment' %}">Bill Adjustment</a>
            <a class="dropdown-item" href="{% url 'users:admin_select_flats' %}">Flat Detail Update</a>
          </div>
        </li>
      {% endif %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ request.user }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="{% url 'resident:change_password' %}">change password</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        </div>
      </li>
      
      {% endif %}
    </ul>
    {% if request.user.is_authenticated %}
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    {% endif %}
  </div>
</nav>