{% extends 'base.html' %}

{% block css %}
<style type="text/css">
    #hidden-form, #dd-number{
        display: none;
    }
</style>
{% endblock %}


{% block content %}

<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                {% if choose_date %}
                  <div class="card-header text-center">Meter Change ( OC Maintance )<i class="fas fa-cloud"></i></div>
                    <div class="card-body">
                    <form action="" method="post">
                          {% csrf_token %}
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group input-group-sm">
                                        <label for="email_address" class="col-form-label text-md-right">Select Month</label>
                                        <input type="month" id="tower" class="form-control number" name="month" required autofocus>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group input-group-sm">
                                        <input type="submit" class="form-control btn-primary">
                                    </div>
                                </div>
                            </div>
                        </form>
                        {% if messages %}
                            <div class="col-8">
                                {% for message in messages %}
                                <div class="alert alert-primary">
                                    <strong>{{ message|escape }}</strong>
                                </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
              {% else %}
                  <table class="table table-hover table-sm">
                    <thead>
                    <tr><th>Year & Month {{ date }}</th><th>Total {{ object_list|length }}</th></tr>
                      <tr>
                        <th scope="col">Adjustment</th>
                        <th scope="col">Flat PK</th>
                        <th scope="col">Tower</th>
                        <th scope="col">Flat</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for m in object_list %}
                          <tr>
                            <th scope="row">{{ m.0 }}</th>
                            <td>{{ m.1 }}</td>
                            <td>{{ m.2 }}</td>
                            <td>{{ m.3 }}</td>
                          </tr>
                      {% endfor %}
                    </tbody>
                  </table>
              {% endif %}
            </div>
        </div>
      </div>
    </div>
</main>
{% endblock %}