{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header text-center">Change Password<i class="fas fa-cloud"></i></div>
	                    <div class="card-body">
	                        <form action="" method="post">
	                            {% csrf_token %}
	                            {{ form|crispy }}
	                        <div class="">
                                <button type="submit" class="btn btn-primary btn-block">Submit</button>
                            </div>
	                    </form>
	                </div>
	            </div>
	        </div>
	    </div>
    </div>
</main>
{% endblock %}