{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<div class="container emp-profile">
    <style>
    .my-card
    {
        position:absolute;
        left:40%;
        top:-20px;
        border-radius:50%;
    }
    </style>
<div class="">
<div class="row w-100">
        <div class="col-md-4">
            <div class="card border-info mx-sm-1 p-3 shadow">
                <div class="card border-info shadow text-info p-3 my-card" ><span class="fa fa-rupee-sign" aria-hidden="true"></span></div>
                <div class="text-info text-center mt-3"><h1>{{ total_users }}</h1></div>
                <table class="table table-bordered table-sm shadow-sm">
                    <tr class="text-info text-center"><td>Today</td><td>{{ today_recharge|intcomma }}</td></tr>
                    <tr class="text-info text-center"><td>Month</td><td>{{ month_recharge|intcomma }}</td></tr>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-success mx-sm-1 p-3 shadow">
                <div class="card border-success shadow text-success p-3 my-card"><span class="fa fa-power-off" aria-hidden="true"></span></div>
                <div class="text-success text-center mt-3"><h1>{{ total_orders }}</h1></div>
                <table class="table table-bordered table-sm shadow-sm">
                    <tr class="text-success text-center"><td>Low</td><td>{{ low_balance }}</td></tr>
                    <tr class="text-success text-center"><td>Negative</td><td>{{ ng_balance }}</td></tr>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-danger mx-sm-1 p-3 shadow">
                <div class="card border-danger shadow text-danger p-3 my-card" ><span class="fa fa-table" aria-hidden="true"></span></div>
                <div class="text-danger text-center mt-3"><h1>{{ total_product }}</h1></div>
                <table class="table table-bordered table-sm shadow-sm">
                    <tr class="text-danger text-center"><td>Out of Stock</td><td>{{ out_stock }}</td></tr>
                    <tr class="text-danger text-center"><td>Low on Stock</td><td>{{ low_stock }}</td></tr>
                </table>
            </div>
        </div>
{#        <div class="col-md-3">#}
{#            <div class="card border-warning mx-sm-1 p-3 shadow">#}
{#                <div class="card border-warning shadow text-warning p-3 my-card" ><span class="fa fa-wallet" aria-hidden="true"></span></div>#}
{#                <div class="text-warning text-center mt-3"><h1>{{ total_security }}</h1></div>#}
{#                <table class="table table-bordered table-sm shadow-sm">#}
{#                    <tr class="text-warning text-center"><td>Jars</td><td>{{ count_jar }}</td></tr>#}
{#                    <tr class="text-warning text-center"><td>Wallet Request</td><td>{{ unpaid_wallet }}</td></tr>#}
{#                </table>#}
{#            </div>#}
{#        </div>#}
     </div>
</div>
</div>
{% endblock %}