{% extends 'base.html' %}


{% block content %}
<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <table class="table table-hover table-sm">
                    <thead>
                      <tr>
                        <th scope="col">Tower</th>
                        <th scope="col">Flat</th>
                        <th scope="col">Owner</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Amount Left</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for c in object_list %}
                          <tr>
                            <th scope="row">{{ c.flat.tower }}</th>
                            <td>{{ c.flat.flat }}</td>
                            <td>{{ c.flat.owner  }}</td>
                            <td>{{ c.flat.phone }}</td>
                            <td>{{ c.amt_left|floatformat:0 }}</td>
                          </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}