{% extends 'base.html' %}

{% block css %}
<style type="text/css">
    #hidden-form, #dd-number{
        display: none;
    }
</style>
{% endblock %}


{% block content %}

<script type="text/javascript">
(function($) {
  $.fn.inputFilter = function(inputFilter) {
    return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function() {
      if (inputFilter(this.value)) {
        this.oldValue = this.value;
        this.oldSelectionStart = this.selectionStart;
        this.oldSelectionEnd = this.selectionEnd;
      } else if (this.hasOwnProperty("oldValue")) {
        this.value = this.oldValue;
        this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
      }
    });
  };
}(jQuery));

$(document).ready(function() {
  // Restrict input to digits by using a regular expression filter.
  $(".number").inputFilter(function(value) {
    return /^\d*$/.test(value);
  });
});
</script>
<script>
$(document).ready(function(){
    $("#flat").bind("keyup", function(e) {
        var code = e.keyCode || e.which;
        if (code != '9') {
            var tower = $("#tower").val();
            var flat = $("#flat").val();
            $.ajax({
                url: "{% url 'users:getFlat' %}",
                type: "POST", //send it through get method
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}', 
                    tower: tower, 
                    flat: flat
                    },
                success: function(data){
                    console.log(data)
                    $("#hidden-form").css("display","block");
                    $("#name").val(data['owner']);
                    $("#phone").val(data['phone']);
                    $("#eb").val(parseFloat(data['ng_eb'])+parseFloat(data['start_eb']));
                    $("#dg").val(parseFloat(data['ng_dg'])+parseFloat(data['start_dg']));
                    $("#left").val(parseFloat(data['amt_left']).toFixed(2));
                    $("#flat_pkey").val(data['flat']);  
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) { 
                    $("#name").val('');
                    $("#phone").val('');
                    $("#eb").val('');
                    $("#dg").val('');
                    $("#left").val('');
                    $("#flat_pkey").val('');
                    $("#hidden-form").css("display","none");
                }       
            });
        }
    })
});
</script>




<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                {% if not recharge %}
                  <div class="card-header text-center">Recharge History<i class="fas fa-cloud"></i></div>
                  <div class="card-body">
                      <form action="" method="post">
                          {% csrf_token %}
                          <div class="form-group row">
                              <label for="email_address" class="col-md-4 col-form-label text-md-right">{{ args.type|title }}</label>
                              <div class="col-md-6">
                                  <input id="date" class="form-control" {% for i,j in args.items %} {{ i }}={{ j }} {% endfor %} required autofocus>
                              </div>
                          </div>

                          <div class="col-md-6 offset-md-4">
                              <button type="submit" class="btn btn-primary btn-block">Submit</button>
                          </div>
                  	</div>
                          {% if form.errors %}
                              {% for field in form %}
                                  {% for error in field.errors %}
                                      <div class="alert alert-danger">
                                          <strong>{{ error|escape }}</strong>
                                      </div>
                                  {% endfor %}
                              {% endfor %}
                              {% for error in form.non_field_errors %}
                                  <div class="alert alert-danger">
                                      <strong>{{ error|escape }}</strong>
                                  </div>
                              {% endfor %}
                          {% endif %}
                      </form>
                  </div>
              {% else %}
                  <table class="table table-hover table-sm">
                    <thead>
                      <tr>
                        <th scope="col">Sno.</th>
                        <th scope="col">Date & Time</th>
                        <th scope="col">Owner</th>
                        <th scope="col">Tower</th>
                        <th scope="col">Flat</th>
                        <th scope="col">Message</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for r in recharge %}
                          <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ r.dt }}</td>
                            <td>{{ r.flat.owner }}</td>
                            <td>{{ r.flat.tower|floatformat:0 }}</td>
                            <td>{{ r.flat.flat|floatformat:0 }}</td>
                            <td style="font-size: 11px;">{{ r.text }}</td>
                          </tr>
                      {% endfor %}
                          <tr style="border-top: 2px solid #333;">
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td><strong>{{ total.recharge__sum|floatformat:0 }}</strong></td>
                          </tr>
                    </tbody>
                  </table>
              {% endif %}
            </div>
        </div>
      </div>
    </div>
</main>
{% endblock %}