{% extends base %}
{% load crispy_forms_tags %}


{% block content %}
<main class="login-form">
    <div class="cotainer-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header text-center">Change Password<i class="fas fa-cloud"></i></div>
                        <div class="card-body">
                            <form action="" method="POST">
                                {% csrf_token %}
                            	{{ form|crispy }}
                            	<input type="submit" class="btn btn-primary btn-block" name="">
                            </form>
                        </div>
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        {{ message.tags }}
                        <li{% if message.tags %} class="alert alert-danger"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}